<div class="product-list">
  <button class="add-button" mat-raised-button color="primary" routerLink="new">
    <i class="fa-solid fa-plus"></i>
    Add Product
  </button>
  @for(product of products; track product.id) {
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{ product.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="product.imageUrl | image" />
    <mat-card-content>
      <p>{{ product.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="['details', product.id]" color="primary"><i class="fa-regular fa-eye"></i> View</button>
      <button mat-button [routerLink]="['edit/', product.id]" color="primary"><i class="fa-solid fa-pen"></i> Edit</button>
    </mat-card-actions>
  </mat-card>
  }
</div>
